body {
  padding: 25px;
}

.forecast {
  position: relative;
  display: flex;
  align-items: center;

  &-form {
    form {
      display: flex;
    }

    button {
      font-size: 16px;
      line-height: 24px;
      background-color: #0b71d9;
      border: none;
      color: #fff;
      padding: 8px 30px;
      border-radius: 0 4px 4px 0;
      margin-left: -1px;
      cursor: pointer;
    }

    input {
      width: 240px;
      height: 40px;
      padding: 8px 10px;
      border-radius: 4px 0 0 4px;
      border: 1px solid #b8bfc6;
      transition: ease border-color 0.3s;

      &:focus {
        border-color: #0a64bf;
      }
    }

    .error {
      position: absolute;
      left: 0;
      bottom: -18px;
      font-size: 12px;
      line-height: 14px;
      color: #a11f1f;
    }
  }

  .loading {
    position: absolute;
    left: 0;
    font-size: 14px;
    top: -28px;
  }
}

.city-weather {
  margin-left: auto;

  strong {
    font-size: 24px;
    line-height: 32px;
  }

  sup {
    padding-left: 2px;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.recently-viewed {
  margin-top: 40px;
  padding: 20px;
  border-radius: 5px;
  background-color: #eff2f6;

  p {
    color: #0b0d0e;
    font-weight: 500;
  }

  &__list {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;

    span {
      display: inline-block;
      vertical-align: top;
      min-width: 100px;
      padding: 5px 10px;
      border-radius: 8px;
      margin-right: 15px;
      background-color: #fff;
      box-shadow: 0 0 2px rgba(5, 20, 41, 0.06), 0 2px 3px rgba(5, 20, 41, 0.08);
      transition: ease box-shadow 0.3s;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 3px rgba(5, 20, 41, 0.16),
          0 3px 4px rgba(5, 20, 41, 0.18);
      }

      i {
        float: right;
        font-size: 12px;
        color: #7f8b99;
        font-style: normal;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}
